{
  "Database": {
    "Provider": "Sqlite"
  },
  "ConnectionStrings": {
    "Sqlite": "Data Source=./data/forgekit.local.db",
    "Postgres": "Host=localhost;Database=forgekit_db",
    "SqlServer": "Server=localhost;Database=forgekit_db;Trusted_Connection=True;TrustServerCertificate=True"
  },
  "SMTP": {
    "From": "your-email@example.com",
    "Password": "",
    "SmtpHost": "smtp.example.com",
    "SmtpPort": 587
  }
}
