node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

*.db
*.db-wal
*.db-shm

.e2e-test.db
.e2e-test.db-wal
.e2e-test.db-shm
playwright-report/
test-results/
